@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Rammetto+One");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #333;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.wrap{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

nav{
  background-color: #0000ff;
  width: 100%;
  height: 100%;
  /* padding-top:; */
}
.container {
  width: 100%;
  /* max-width: 992px; */
  margin: 0 auto;
  padding: 0 1em;
  background-color: #fff;
  /* background-color: #0000ff; */
  /* color: #fff; */
}
.header__top{
  background-color: #0000ff;
}
a{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 900px) {
  .container {
    padding: 0;
  }
}

ul {
  list-style: none;
  padding: 0 1em;
  margin-left: 0;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

button {
  transition: all 0.3s;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.display-title {
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 1.3px;
}
@media (min-width: 600px) {
  .display-title {
    font-size: 3rem;
  }
}

.page-title {
  text-align: center;
  font-weight: 700;
  color: #0000ff;
  font-size: 20px;
  margin-bottom: 5%;
  margin-top: 15%;
}
@media (min-width: 600px) {
  .page-title {
    font-size: 2rem;
    font-weight: 300;
  }
}

footer {
  margin-top: 4em;
  padding-bottom: 2em;
  padding-top: 2em;
  border-top: 1px dashed #050505;
  background-color:#2f2f2f;
}


footer h5{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5%;
}
footer a {
  color: #fff;
  font-size: 15px;
}
footer h3{
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  /* line-height: 0px; */
}
footer h6{
  color: #fff;
  margin-top: 10%;
  /* text-align: center; */
  font-size: 17px;
  /* opacity: 0.7; */
}

.footer__link-item,
.footer__link-item {
  color: #0000ff;
}
.footer__link-item:hover, .footer__link-item:focus,
.footer__link-item:hover,
.footer__link-item:focus {
  color: #9e1610;
}
footer img{
  width: 90%;
  display: flex;
}

@-webkit-keyframes point-down {
  100% {
    transform: translatey(20px);
  }
}

@keyframes point-down {
  100% {
    transform: translatey(20px);
  }
}
@-webkit-keyframes fade-down {
  80% {
    opacity: 1;
    visibility: visible;
    transform: translatey(20px);
    transform: scale(1.3);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0.75, 0);
            animation-timing-function: cubic-bezier(0, 1, 0.75, 0);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes fade-down {
  80% {
    opacity: 1;
    visibility: visible;
    transform: translatey(20px);
    transform: scale(1.3);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0.75, 0);
            animation-timing-function: cubic-bezier(0, 1, 0.75, 0);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
.hide{
  display: none;
}
h1{
    text-align: center;
    color: #0000ff;
    margin-top: 5%;
}
p{
    font-size: 18px;
    font-weight: 400;
}
.about-footer{
  display: flex;
}
.lower-class a{
  text-decoration: none;
}
@media(max-width:992px){
  footer{
    width: 100%;
  }
  a{
    font-size: 7px;
  }
  /* h1{
    font-size: 14px;
  } */
  .about-footer{
    display: none;
  }
  .hide{
    display: block;
    text-align: center;
  }  
  .second-link{
    display: none;
  }
  .third-link{
    display: none;
  }
}